*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a2a2a2;
}
.menu_container{
    border-radius: 0px 0px 10px 10px;
    width: 95%;
    height: 65px;
    margin: 0px auto;
    position: sticky;
    top: 0%;
    background-color: #005ac2;
    text-align: center;
    z-index: 500;
}
.menu_container img{
    position: relative;
    top: 3px;
    right: 350px;
    height: 60px;
    display: inline;
}
nav{
    position: relative;
    top: -40px;
}
.menu li{
    display: inline;
    transition: .3s;
    text-transform: uppercase;
    background-color: transparent;
    padding: 22px 3px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 2px; 
}

.menu li a{
    padding: 30px 0px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.menu li:hover{
    background-color: rgb(0, 49, 105);
    color: white;
}
.menu li:hover a{
    color: white;
}

/* ↑↑↑↑↑ Menu ↑↑↑↑↑ */
footer{
    background-color: #005ac2;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

footer .logos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center; 
    gap: 10px;
    
}


.acj, .ymca{
    display: flex;
    color: white;
}
.acj p, .ymca p{
    margin: 5px;
}

footer .acj img, footer .ymca img{
    height: 65px;
    border-right: 2px solid rgb(0, 49, 105);
}
footer .acj img{
    padding: 0 8px 0 8px;
}
footer .ymca img{
    padding-right: 5px;
}

/* ↑↑↑↑↑ Footer ↑↑↑↑↑ */
main{
    width: 80%;
    height: auto;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #a2a2a2;
}

main .padre{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "plan plan"
    "horarios horarios"
    "unite fundacion"
    "aporte fundacion"
    "trabaja iuacj";
}


.hijo{
    border-radius: 10px;
    
}
.hijo img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.plan{
    background-color: #005ac2;
    grid-area: plan;
    height: auto;
}

.horarios{
    grid-area: horarios;
    background-color: #192153;
    height: 122px;
    text-align: center;
    overflow: auto;
}

.horarioslista{
    position: relative;
    top: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    list-style: none;
}

.horarios img{
    width: 70px;
    height: auto;
    display: inline;
}
.horarioslista a{
    color: #aeedff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.horarioslista span{
    color: white;
    font-weight: bolder;
}

.unite{
    grid-area: unite;
    background-color: beige;
    height: auto;

}

.fundacion{
    grid-area: fundacion;
    background-color: red;
    height: auto;

}
.aporte{
    grid-area: aporte;
    background-color: coral;
    height: auto;
}

.trabaja{
    grid-area: trabaja;
    background-color: yellow;
    height: auto;

}

.iuacj{
    grid-area: iuacj;
    background-color: cornflowerblue;
    height: auto;

}
