*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.caja{
    width: 150px;
    height: 100px;
    margin: 0.5rem;
}

.padre{
    background-color: blueviolet;
    width: 600px;
    height: 400px;
    padding: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    /* align-content: flex-end; */
    /* flex-direction: column;
    flex-wrap: wrap-reverse; */
}

.azul{
    align-self: stretch;
    background-color: blue;
}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
    order: 1;
}

.amarillo{
    background-color: yellow;
    order: 0;
}

.negro{
    color: white;
    background-color: black;
}

.blanco{
    background-color: white;
}