* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  margin-bottom: 20px;
}
header nav {
  display: grid;
}
header nav .secondNav {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
}
header nav .mainNav {
  overflow: hidden;
  width: 60%;
  height: 60px;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
}
header nav .mainNav .logoImage {
  max-width: 25%;
  max-height: 80px;
}
header nav .mainNav .logoImage img {
  max-width: 100%;
  max-height: 100%;
}
header nav .mainNav .navRoutes ul {
  display: flex;
}
header nav .mainNav .navRoutes ul li {
  padding: 5px;
  list-style: none;
}
header nav .mainNav .navRoutes ul li:hover a:after {
  transform: scale(1);
}
header nav .mainNav .navRoutes ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #111111;
  display: block;
  font-weight: 600;
  position: relative;
  padding: 3px 0;
}
header nav .mainNav .navRoutes ul li a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #e53637;
  content: "";
  transition: all, 0.5s;
  transform: scale(0);
}
header nav .mainNav .userIcons {
  width: 25%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
header nav .mainNav .userIcons .userIcons_Icon {
  height: 20px;
  width: 20px;
}
header nav .mainNav .userIcons #cartIcon {
  background-image: url(../img//icon/shopping-cart-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header nav .mainNav .userIcons #heartIcon {
  background-image: url(../img//icon/heart.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header nav .mainNav .userIcons #searchIcon {
  background-image: url(../img//icon/search-interface-symbol.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: #f8f9fa;
}
body .pageLabel_container {
  background-color: #f3f2ee;
}
body .pageLabel_container .pageLabel_wraper {
  padding: 40px 0px;
  width: 60vw;
  margin: auto;
}
body .pageLabel_container .pageLabel_wraper h4 {
  font-size: 30px;
  color: #111111;
  font-weight: 700;
  margin-bottom: 8px;
}
body .pageLabel_container .pageLabel_wraper a {
  text-decoration: none;
  font-size: 15px;
  color: #111111;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}
body .pageLabel_container .pageLabel_wraper a::after {
  position: absolute;
  right: -14px;
  top: 0;
  content: ">";
  font-family: "FontAwesome";
}
body .pageLabel_container .pageLabel_wraper span {
  font-size: 15px;
  color: #b7b7b7;
  display: inline-block;
}
body .product-page {
  margin: 80px auto;
  width: 80vw;
  flex-wrap: wrap;
  display: flex;
}
body .product-page .filter-container {
  width: 19vw;
  height: auto;
  background-color: grey;
}
body .product-page .product-list {
  min-height: 100vh;
  display: flex;
  gap: 50px;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 58vw;
  margin: auto;
  justify-content: center;
}
body .product-page .product-list a {
  text-decoration: none;
  color: black;
}
body .product-page .product-list a .product-item {
  width: 300px;
  padding: 20px;
  border: 1px solid rgb(203, 201, 201);
  transition: 0.3s;
}
body .product-page .product-list a .product-item .product-item__content {
  display: flex;
  align-content: center;
  flex-direction: column;
}
body .product-page .product-list a .product-item .product-item__content .imgContaiener {
  align-self: center;
  display: flex;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  margin-bottom: 20px;
}
body .product-page .product-list a .product-item .product-item__content .imgContaiener .imgWrapper {
  position: relative;
  width: 100%;
  height: 300px;
}
body .product-page .product-list a .product-item .product-item__content .imgContaiener .imgWrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
  transition: opacity 0.9s;
}
body .product-page .product-list a .product-item .product-item__content .imgContaiener .imgWrapper img:first-child {
  opacity: 100%;
}
body .product-page .product-list a .product-item .product-item__content .imgContaiener .imgWrapper img:last-child {
  opacity: 0%;
}
body .product-page .product-list a .product-item .product-item__content .product-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}
body .product-page .product-list a .product-item .product-item__content .product-item__stock {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 3px;
}
body .product-page .product-list a .product-item .product-item__content .product-item__price {
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 7px;
}
body .product-page .product-list a .product-item:hover > .product-item__content > .imgContaiener > .imgWrapper > img:last-child {
  opacity: 100%;
}
body .product-page .product-list a .product-item:hover > .product-item__content > .imgContaiener > .imgWrapper > img:first-child {
  opacity: 0%;
}
body .pageSwitcherContainer {
  margin-bottom: 80px;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0px;
}
body .pageSwitcherContainer .pageSwitcher {
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  margin: 0px;
}
body .pageSwitcherContainer .pageSwitcher ul {
  display: flex;
}
body .pageSwitcherContainer .pageSwitcher ul li {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  list-style: none;
  border: 1px solid #f2dfdb;
  padding: 10px;
}
body .pageSwitcherContainer .pageSwitcher ul li:first-child {
  border-radius: 10px 0px 0px 10px;
}
body .pageSwitcherContainer .pageSwitcher ul li:last-child {
  border-radius: 0px 10px 10px 0px;
}
body .pageSwitcherContainer .pageSwitcher ul li:hover {
  background-color: #f2dfdb;
}
body .pageSwitcherContainer .pageSwitcher ul li a, body .pageSwitcherContainer .pageSwitcher ul li p {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}
body .pageSwitcherContainer .pageSwitcher ul li a img, body .pageSwitcherContainer .pageSwitcher ul li p img {
  width: 100%;
  height: 100%;
}
body .pageSwitcherContainer .pageSwitcher ul .disabled {
  opacity: 70%;
}
body table .cart-table__thead {
  background-color: rgb(2, 121, 2);
}
body table .cart-table__thead tr th {
  color: white;
}
body table tbody .cart-table-tbody__id {
  width: 10%;
  background-color: greenyellow;
}
body table tbody .cart-table-tbody__quantity {
  background-color: rgb(211, 211, 211);
}
body .productPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .productPage .w-50 {
  width: 48vw;
}
body .productPage .w-50 .productPage__image {
  width: 100%;
}
body .productPage .w-50 .productPage__image img {
  width: 100%;
}
body .productPage .w-50 h1 {
  width: 100%;
  text-align: center;
}
body .productPage #addToCartButton {
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  background-color: aqua;
  border-radius: 10px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */