*{
    margin: 0px;
    padding: 0px;
}

.Caja{
    width: 300px;
    height: 350px;
    margin: 30px;
}

.azul{
    width: 1080px;
    height: 70px;
    margin: 0px;
    background-color: blue;
    position: sticky;
    top: 0%;

}

.rojo{
    background-color: red;
}

.verde{
    background-color: greenyellow;
}

.scroll{
    width: 300px;
    height: 1000px;
    margin: 30px;
    background-color: beige;
}