*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
font-size: 16px;}

.center{
    display: flex;
    justify-content: center;
}

body{
    overflow-x: hidden;
    main{
        h1{
            text-align: center;
            margin: 20px 0px;
        }
        .button{
            border-radius: 25px;
            border: 1px solid black;
            font-weight: 600;
            padding: 5px;
            font-size: 12px;
            display: inline-block;
            &:hover{
                cursor: pointer;
            }
            margin: auto  auto 2vw auto;
        }
        .formularios{
            height: 0px;
            overflow: hidden;
            transition: height .3s;
            .inputcontainer{
                width: 60vw;
                margin: 0px auto;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                gap: 10px;
                input[type=text]{
                    border-radius: 25px;
                    width: 200px;
                    margin: 0px 10px;
                    text-indent: 5px;
                }
                label{
                    position: relative;
                    top: 3px;
                    display: inline-block;
                    width: 80px;
                    text-align: right;
                    overflow: hidden;
                }
            }
        }
        .search__container{
            display: flex;
            flex-direction: row-reverse;
            overflow: hidden;
            width: 0vw;
            margin: auto;
            transition: .3s;
            a{
                height: 24px;
            }
            input{
                width: 80vw;
            }
        }
        .productos{
            margin: 30px auto;
            width: 90vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            row-gap: 50px;
            .product{
                justify-content: space-around;
                height: 340px;
                width: 200px;
                padding: 10px;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                background-color: rgb(233, 233, 233);
                h3{
                    display: inline;
                }
                .product__name{
                    align-self: center;
                    height: 40px;
                    overflow: hidden;
                    h3{
                        font-size: 20px;
                    }
                }
                .product__price_discounted{
                    height: 40px;
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    .product__originalprice{
                        p{
                            text-decoration: line-through;
                            font-size: 13px;
                        }
                    }
                    .product__discount{
                        p{
                            color: rgb(0, 186, 68);;
                            font-size: 13px;
                        }
                    }
                    .product__finalPrice{
                        width: 99%;
                        font-weight: 700;
                    }
                }
                .product__price{
                    height: 40px;
                    overflow: hidden;
                    .product__discount{
                        display: none;
                    }
                }

                .product__description{
                    height: 30%;
                    overflow-y: hidden;
                }

                .product__category{
                    margin-left: auto;
                    height: 16px;
                    overflow: hidden;
                }
                
                .buy{
                    padding: 10px;
                    border-radius: 15px;
                    border: none;
                    width: fit-content;
                    background-color: rgb(0, 186, 68);
                    color: white;
                    margin-top: auto;
                    font-weight: 700;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    .error_toggler{
        position: absolute;
        width: 300px;
        height: 20vh;
        top: 20px;
        right: -350px;
        transition: .3s;
        
        background-color: white;
        .error__container{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            display: flex;
            
            .error_window{
                border-radius: 10px;
                width: 90%;
                height: 80%;
                margin: auto;
                background-color: rgb(118, 0, 0);
                padding:5px;
                box-shadow: 0px 0px 30px 10px rgb(114, 114, 114);
                p{
                    color: rgb(214, 214, 214);
                    margin: 5px;
                    text-indent: 5px;
                }
                h3{
                    color: white;
                    text-align: center;
                }
            }

        }
    }
    .success_toggler{
        position: absolute;
        width: 300px;
        height: 20vh;
        top: 20px;
        right: -350px;
        transition: .3s;
        
        background-color: white;
        .success__container{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            display: flex;
            
            .success_window{
                border-radius: 10px;
                width: 90%;
                height: 80%;
                margin: auto;
                background-color: rgb(0, 197, 23);
                padding:5px;
                box-shadow: 0px 0px 30px 10px rgb(114, 114, 114);
                p{
                    color: rgb(214, 214, 214);
                    margin: 5px;
                    text-indent: 5px;
                }
                h3{
                    color: white;
                    text-align: center;
                }
            }

        }
    }
    .carrito_toggler{
        position: absolute;
        right: 20px;
        top: 15px;
        width: fit-content;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
        img{
            height: 10px;
        }
    }

    .carrito_container{
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.61);
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center ;
        top: 0px;
        .carrito{
            background-color: white;
            width: 80%;
            height: 80vh;
            .cross_container{
                z-index: 1;
                width: 99%;
                position: relative;
                top: 10px;
                display: flex;
                flex-direction: row-reverse;
                .cross{
                    cursor: pointer;
                    height: 20px;
                }
            }
            h3{
                position: relative;
                top: -20px;
                width: 100%;
                text-align: center;
                font-size: 3vw;
            }
            .main_cart{
                height: 87%;
                width: 100%;
                overflow: auto;
                .cart_NHP{
                    margin: 15% auto;
                    width: fit-content;
                    font-size: 40px;
                }
                .product{
                    margin: 10px 0px;
                    display: flex;
                    justify-content: space-around;
                    border-bottom: 1px solid black;

                    .product__name{
                        width: 20%;
                        display: flex;
                        align-items: center;
                        h3{
                            position: static;
                            font-size: 15px;
                            overflow: hidden;
                        }
                    }
                    .product__price_discounted{
                        width: 13%;
                        height: 40px;
                        overflow: hidden;
                        display: flex;
                        flex-wrap: wrap;
                        .product__originalprice{
                            p{
                                text-decoration: line-through;
                                font-size: 13px;
                            }
                        }
                        .product__discount{
                            p{
                                color: rgb(0, 186, 68);;
                                font-size: 13px;
                            }
                        }
                        .product__finalPrice{
                            width: 99%;
                            font-weight: 700;
                        }
                    }
                    .product__price{
                        width: 13%;
                        height: 40px;
                        overflow: hidden;
                        .product__discount{
                            display: none;
                        }
                    }
                    .product__description{
                        overflow: hidden;
                        width: 20%;
                    }
                    .product__category{
                        overflow: hidden;
                        width: 10%;
                        h3{
                            position: static;
                            font-size: 15px;
                        } 
                    }
                    .cross_container{
                        width: fit-content;
                        button{
                            height: fit-content;
                            background-color: transparent;
                            border: none;
                            img{
                                cursor: pointer;
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
