<p>Chat</p>

<div id="chat-history"></div>
<p style="display: none;" id="user-email">{{user.email}}</p>


<input type="text"  id="message-form">


<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>