<div class="recoveryForm_container">
    <div class="formWrapper animated-fadeInDown">
        <div>Did you forget your password?</div>
        <form autocomplete="off"  action="/users/forgottenPassword" method="post">
        <div>Enter your email address you're using for your 
            account bellow and we will send you a password reset link</div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>