<div class="recoveryForm_container">
    <div class="formWrapper animated-fadeInDown">
        <div>Hi {{firstName}} </div>
        <form autocomplete="off"  action="/users/passwordrecovery/2p2" method="post">
        <div>Enter your new password for {{email}}</div>
            <label for="password">Password</label>
            <input type="Password" name="Password" id="Password" placeholder="**********" required minlength="10" maxlength="20">
            <input type="hidden" name="code" value="{{code}}">
            <input type="submit" value="Enviar">
        </form>
        {{#if errorBool}}
            <div class="error animated-fadeInDown">{{error}}</div>
        {{/if}}
    </div>
</div>
