<main class="Home-Page">
    <div class="hero-container">
        <div class="hero-wrapper">
            <div class="prev-hero_button" id="prev-hero_button"></div>
            <div class="next-hero_button" id="next-hero_button"></div>
            
            <div class="hero-img unactive">
                <img src="/img/Banners/hero-1.jpg" alt="Hero Image">
            </div>
            <div class="hero-text unactive-Text">
                <div class="hero-text_main"> 
                        <div class="main-collection"><h3>AUTUMN-WINTER COLLECTION</h3></div>
                        <div class="main-title"><h2>Autumn-Winter Collection 2030</h2></div>
                        <div class="main-body"><p>Introducing the 2030 Autumn-Winter Collection: Embodying Seasonal Elegance in Every Detail. Our expert label curates opulent essentials, meticulously crafted with an unyielding dedication to unparalleled quality and ethical craftsmanship.</p></div>
                        <a href="/api/products" class="main-button">BUY NOW<span></span></a>
                </div>
            </div>
            
            <div class="hero-img active">
                <img src="/img/Banners/hero-2.jpg" alt="Hero Image">
            </div>
            <div class="hero-text active-Text">
                <div class="hero-text_main">
                        <div class="main-collection"><h3>SUMMER COLLECTION</h3></div>
                        <div class="main-title"><h2> Fall - Winter Collections 2030</h2></div>
                        <div class="main-body"><p>A specialist label creating luxury essentials. Ethically crafted with an unwavering commitment to exceptional quality.</p></div>
                        <a href="/api/products" class="main-button">BUY NOW <span></span></a>
                </div>
            </div>

        </div>
    </div>
</main>
{{log user}}
<script src="/js/home.js"></script>