
<section class="loginFormPage">
    <form autocomplete="off" class="animated-fadeInDown" action="/users/signin" method="post">
  <div class="login-form">
    <h1>sign in</h1>
    <div>
    <img src="/img/illustrations/Handshake_Two Color.svg" alt="">
    </div>
    <div class="formBody">
    <label for="userEmail">email</label>
    <input type="email" name="email" id="userEmail" placeholder="email@email.com" required />
    <label for="userPassword">password</label>
    <input type="password" name="password" id="userPassword" placeholder="**********" required />
    <div class="forgetPassword"><a href="/users/forgottenPassword">Did you forget your password?</a></div>
    <label for="chkKeep"> <input type="checkbox" id="chkKeep" name="chkKeep"  /> Remember me </label>
      
    </div>
    
    <input type="submit" id="submit" value="sign in" />
    <div class="thirdPartyLoginButtons">
      <a href="/users/signin/github"><img src="/img/icon/github.png" alt="Github logo"></a>
    </div>
   
   {{#if error}} <div class="error_window animated-fadeInDown"> <p>{{errorText}}</p></div> {{/if}}
  </div>
</form>
</section>
