*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: lightgray;
    margin-bottom: 20px;
}
.menu li{
    position: sticky;
    top: -1px;
    right: 0px;
    height: 20px;
    background-color: darkgray;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

.menu li a{
    text-decoration: none;
}

.relleno{
    background-color: aquamarine;
    width: 500px;
    height: 6000px;
}