<div><form action="/post" method="post">
    <input type="text" name="name" id="name" placeholder="UserName">
    <input type="email" name="email" id="email" placeholder="E-mail">
    <button type="submit">Enviar</button>
    <button onclick="">getCookie</button>
</form></div>