header{
    .img{
        text-align: center;
        img{
            width: $medida;
            height: $medida;
            border-radius: 50%;
            border: white 5px solid;
            padding: 10px;
            margin-top: 10px;
            &:hover{
                border: $violeta 5px solid;
            }

        }
        
            }
        h1{
            text-align: center;
            color:$violeta;
            padding: 20px;
            }
        h3{
            font-weight: normal;
            font-style: italic;
            padding: 20px;
                .remarcar{
                    font-weight: bold;
                    color:$violeta;
                    &:hover{
                        color:fuchsia;
                    }
        }
    }
}