main{
    .subt{
        padding: 30px;
        text-align: center;
        color: white;
        background-color: purple;
    }
    div{
        display: flex;
        .compatible{
            padding: 10px;
            h3{
                color: purple;
                text-align: center;
            }
            p{
                color: blue;
                line-height: 2;
            }
        }
        .rico{
            padding: 10px;
            h3{
                color: purple;
                text-align: center;
            }
            p{
                color: greenyellow;
                line-height: 2;
            }
        }
    }
}