$variabledecolor: rgb(185, 111, 255);

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: $variabledecolor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@import "header";
@import "main";
@import "footer";
