*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Nunito Sans", sans-serif;
}
header{
    nav{
        display: grid;

        .secondNav{
            width: 100%;
            height: 30px;
            background-color: black;
            color: white;
        }
        .mainNav{
            overflow: hidden;
            width: 60%;
            height: 80px;
            display: flex;
            justify-self: center;
            align-items: center;
            justify-content: space-between;
            .logoImage{
                max-width: 25%;
                max-height: 80px;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .navRoutes{
                ul{
                    display: flex;
                    
                    li{
                        padding: 5px;
                        list-style: none;
                        &:hover{
                            a:after {
                                -webkit-transform: scale(1);
                                -ms-transform: scale(1);
                                transform: scale(1);
                            }
                        }
                        a{
                            font-family: "Nunito Sans", sans-serif;
                            text-decoration: none;
                            font-size: 18px;
                            color: #111111;
                            display: block;
                            font-weight: 200;
                            position: relative;
                            padding: 3px 0;
                            &:after {
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 2px;
                                background: #e53637;
                                content: "";
                                -webkit-transition: all, 0.5s;
                                -o-transition: all, 0.5s;
                                transition: all, 0.5s;
                                -webkit-transform: scale(0);
                                -ms-transform: scale(0);
                                transform: scale(0);
                            }
                        }
                    }
                }
            }
            .userIcons{
                width: 25%;
                display: flex;
                justify-content: center;
                gap: 20px;
                .userIcons_Icon{
                    height: 20px;
                    width: 20px;
                }
                #cartIcon{
                    background-image: url(../img//icon/shopping-cart-icon.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                #heartIcon{
                    background-image: url(../img//icon/heart.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                #searchIcon{
                    background-image: url(../img//icon/search-interface-symbol.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

body{
    background-color: #f8f9fa;
    .pageLabel_container{
        background-color: #f3f2ee;
        .pageLabel_wraper{
            padding: 40px 0px;
            width: 60vw;
            margin: auto;
            h4{
                font-size: 30px;
                color: #111111;
                font-weight: 700;
                margin-bottom: 8px;
            }
            a{
                text-decoration: none;
                font-size: 15px;
                color: #111111;
                margin-right: 18px;
                display: inline-block;
                position: relative;
                &::after{
                    position: absolute;
                    right: -14px;
                    top: 0;
                    content: ">";
                    font-family: "FontAwesome";
                }
            }
            span{
                font-size: 15px;
                color: #b7b7b7;
                display: inline-block;
            }
        }
    }
    .product-page{
        margin: 80px auto;
        width: 80vw;
        flex-wrap: wrap;
        display: flex;
        .filter-container{
            width: 19vw;
            height: auto;
            background-color: grey;
        }
        .product-list{
            min-height: 100vh;
            display: flex;
            gap: 50px;
            align-content: flex-start;
            flex-wrap: wrap;
            width: 58vw;
            margin: auto;
            justify-content: center ;
            
            a{
                text-decoration: none;
                color: black;
        
                .product-item{
                width: 300px;
                padding: 20px;
                border: 1px solid rgb(203, 201, 201);
                transition: .3s;
                    .product-item__content{
                        display: flex;
                        align-content: center;
                        flex-direction: column;
                        .imgContaiener{
                            align-self: center;
                            display: flex;
                            align-items: center;
                            max-width: 300px;
                            min-width: 300px;
                            min-height: 300px;
                            margin-bottom: 20px;
                            .imgWrapper{
                                position: relative;
                                width: 100%;
                                height: 300px;
                                img{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    max-width: 300px;
                                    max-height: 300px;
                                    transition: opacity .9s;
                                }
                                img:first-child{
                                    opacity: 100%;
                                }
                                img:last-child{
                                    opacity: 0%;
                                }
                                
                            }
                            
                        }
                        .product-item__title{
                            color: #111111;
                            font-size: 15px;
                            font-weight: 600;
                         
                            -webkit-transition: all, 0.3s;
                            -o-transition: all, 0.3s;
                            transition: all, 0.3s;
                            font-weight: 600;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            font-family: "Nunito Sans", sans-serif;
                        }
                        .product-item__rating{
                            opacity: 70%;
                            display: flex;
                            margin: 5px;
                            img{
                                width: 13px;
                            }
                        }
                        .product-item__price{
                            font-family: "Nunito Sans", sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 7px;
                        }
                    }
                    &:hover>.product-item__content>.imgContaiener>.imgWrapper>img:last-child{
                        opacity: 100%;
                    
                    }
                    &:hover>.product-item__content>.imgContaiener>.imgWrapper>img:first-child{
                    
                        opacity: 0%;
                        
                    }
                }
            }
        }
    }
    .pageSwitcherContainer{
        margin-bottom: 80px;
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0px;
        .pageSwitcher{
            color: black;
            width: fit-content;
            height: fit-content;
            border-radius: 10px;
            margin: 0px;
            ul{
                display: flex;
                li{
                    display: flex;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    list-style: none;
                    border: 1px solid #f2dfdb;
                    padding: 10px;
                    &:first-child{
                        border-radius: 10px 0px 0px 10px;
                    }
                    &:last-child{
                        border-radius: 0px 10px 10px 0px;
                    }
                    &:hover{
                        background-color: #f2dfdb;
                    }
                    a,p{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        margin:0px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .disabled{
                    opacity: 70%;
                   
                }
            }
        }
    }
        
    
    table{
        .cart-table__thead{
            background-color: rgb(2, 121, 2);
            tr{
                th{
                    color: white;
                }
            }
        }
        tbody{
            .cart-table-tbody__id{
                width: 10%;
                background-color: greenyellow;
            }
            .cart-table-tbody__quantity{
                
                background-color: rgb(211, 211, 211);
            }
        }
    }
    
    .productPage{
        flex-wrap: wrap;
        justify-content: center;
        .productPage__image-container{
            border-top: #b7b7b7 1px solid;
            display: grid;
            background-color: #f3f2ee;
            max-width: 100%;
            height: fit-content;
            .productPage__images_wrapper{
                place-self: center;
                display: flex;
                gap: 10px;
                // max-width: 60%;
                height: 90%;
                .productPage__images_aside{
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    img{
                        width: 100%;
                        border: 1px solid #eae0b8;
                    }
                }
                .productPage__images_main{
                    border: 1px solid #eae0b8;
                    max-height: fit-content;
                    max-width: 90%;
                    img{
                        height: 100%;
                    }
                }
            }
        }
        .productPage__Details{
            margin: 100px auto 0px auto;
            width: 50%;
            display: grid;
            h1{
                justify-self: center;
                font-size: 20px;
                width: 70%;
                text-align: center;
                margin-bottom: 20px;
            }
            .product-item__rating{
                margin-bottom: 20px;
                justify-self: center;
                
                opacity: 70%;
                display: flex;
                
                img{
                    width: 13px;
                }
            }
            .productPage__Details-price{
                margin-bottom: 15px;
                justify-self: center;
                font-size: 30px;
                width: 70%;
                text-align: center;
                font-weight: 500;
                font-family: "Nunito Sans", sans-serif;
                
            }
            .productPage__Details-description{
                margin-bottom: 10px;
                color: #3d3d3d;
                text-align: justify;
            }
            .product-item__buttons{
                justify-self: center;
    
                display: flex;
                gap: 30px;
                #addToFavoritesButton{
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: #b7b7b74f;
                    display: grid;
                    img{
                        place-self: center;
                        width: 30px;
                    }
                }
                #addToCartButton{
                    align-self: center;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 14px 30px;
                    color: #ffffff;
                    background: #000000;
                    letter-spacing: 4px;
                    font-family: "Nunito Sans", sans-serif;
                    -webkit-font-smoothing: antialiased;
                }
                margin-bottom: 15px;
            }
            .productPage__Details-category{
                justify-self: center;
                color: #b7b7b7;
                font-weight: 300;
                span{
                    font-weight: 700;
                    color: #000000;
                }
            }
        }
    }
}

