

<section>
    <div id="title">
        Bienvenido al Chat
    </div>
    <div id="history"></div>
    <div>
        <input type="text" id="msg">
    </div>
</section>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
<script src="/js/main.js"></script>
